@import "variables";
@import "vendor/font-awesome/font-awesome";

@import "baseline";

.center {
	width: 100%;
	max-width: 1200px;
	padding: 10px 20px;
	margin: 0 auto;
}

@media all and (min-width: 900px) {

	.col {
		float: left;
		width: 30%;
		padding-right: 50px;

		&.half {
			width: 50%;
		}

		&.wide {
			width: 65%;
		}

		&.last {
			padding-right: 0;
			padding-left: 50px;
		}
	}

}


.container {

	&.article {

		#logo-link {
			display: block !important; // hell yeah
		}

	}
}

h2 {
	margin: 0 0 0.5em;
	font-size: 3.5em;
	font-weight: 100;
	text-transform: uppercase;
	display: inline-block;
	font-family: "Raleway Dots";
}

.next-event {

	background-color: #000;
	padding: 2em;
	margin: 0 0 2em;

}

.col {
	h3 {
		font-size: 32px;
		line-height: 38px;
		font-weight: 200;
		margin: 0 0 0.7em;
	}
}

a.huh {
	display: inline-block;
	clear: both;
	color: $white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: $green;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;

	.fa {
		font-size: 16px;
		font-weight: bold;
		color: $white;
		margin-right: 4px;
	}

}

p.title-line {
	position: relative;
	z-index: 10;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin: 0 0 5px;
	color: $red;

	span {
		background-color: #222;
		padding-right: 10px;
	}

	&:before {
		content: " ";
		display: block;
		border-bottom: 8px solid $red;
		z-index: -5;
		position: relative;
		top: 12px;
	}
}

.social {
	float: right;
	display: inline-block;
}
	.navicon {
		color: $green;
		display: inline-block;
		font-size: 44px;
	}


.col {
	margin-bottom: 4em;

	h4 {
		margin: 0 0 0.1em;
		font-size: 200%;
		color: $white;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.inset {
	margin-bottom: 2em;

	strong {
		color: $blue;
	}

}

.sponsors {
	background-color: $purple;

	.sponsor-stars {
		width: 100%;
		padding: 1em 0;
		font-size: 40px;
		text-align: center;
	}

	h2 {
		margin: 0;
	}

	.col {

		margin: 0;
		padding-top: 2em;

		.blurb {
			text-align: left;
			margin-bottom: 4em;
		}

		p {
			font-size: 18px;
		}
	}

}

.faq {
	padding-top: 3em;
	padding-bottom: 6em;

	.toggle {
		float: right;
		cursor: pointer;
		border: none;
		border-radius: 5px;
		background-color: $green;
		color: $white;
		padding: 10px 20px;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 100;
		margin: 0 0 2em;

		span {
			padding-left: 6px;
		}
	}

	p {
		line-height: 120%;
		margin: 0 0 0.2em;
		font-weight: 100;
		font-size: 20px;
	}

	&[data-style="irc"] {

		.system {
			color: $green;

			a {
				color: $brightgreen;
			}
		}

		.message {

			b {
				font-weight: inherit;
				color: $blue;
			}

			.fa-circle {
				font-size: 50%;
				position: relative;
				top: -3px;
				padding-right: 2px;
			}

			&.me {
				color: $inactivemessage;

				b {
					color: $lightblue;
				}
			}
		}

		.answerbot {
			color: $red;
			margin: 1.5em 0;
			font-weight: 100;

			a {
				color: $inactivemessage;
			}

			b {
				font-weight: 900;
			}
		}
	}

	&[data-style="normal"] {

		p {
			max-width: 800px;
		}

		.system {
			display: none;
		}

		.message {
			color: $blue;
			font-weight: 600;
			font-size: 200%;

			b {
				display: none;
			}

			&.me {
				display: none;
			}
		}

		.answerbot {
			font-weight: 100;
			margin: 1em 0 2em;
		}
	}

}

.button.register-push {
	margin-top: -50px;
	margin-bottom: 100px;
}

@media all and (min-width: 900px) {

	a.huh {
		float: right;
		position: relative;
		top: 25px;
	}

	.irc {

		p {
			// max-width: 1000px;
		}

	}
}

@media all and (min-width: 600px) {

	a.button {

		&.xlarge {
			text-align: left;
		}
	}

	.faq {

		.answerbot {
			width: 50%;
		}
	}

	.navicon {
		float: right;
		padding: 12px 16px 0 0;
	}
}
