<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Bringing nodeschool to Baltimore">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,600' rel='stylesheet' type='text/css'>
  <% styles = page.options.css || ["style.css"] %>
  <% _.each(styles, function (file) { %>
  <link href="/assets/<%= file %>" rel="stylesheet">
  <% }) %>
  <% if (page.options.jshead) { %>
    <% _.each(page.options.jshead, function (file) { %>
    <script src="/assets/<%= file %>" type="text/javascript"></script>
    <% }); %>
  <% } %>
  <title><%= page.options.title || "Untitled" %></title>
</head>
<body>

  <div class="container">
  <%= page.content %>
  </div>

<% if (page.options.jsfoot) { %>
  <% _.each(page.options.jsfoot, function (file) { %>
  <script src="/assets/<%= file %>" type="text/javascript"></script>
  <% }); %>
<% } %>

</body>
</html>
