<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Bringing nodeschool to Baltimore">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
  <% styles = page.options.css || ["style.css"] %>
  <% _.each(styles, function (file) { %>
  <link href="/baltimore/assets/<%= file %>?hi=ok" rel="stylesheet">
  <% }) %>
  <% if (page.options.jshead) { %>
    <% _.each(page.options.jshead, function (file) { %>
    <script src="/baltimore/assets/<%= file %>" type="text/javascript"></script>
    <% }); %>
  <% } %>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49549894-1', 'baltimorenodeschool.github.io');
    ga('send', 'pageview');

  </script>
  <!-- end Google Analytics -->
  <title><%= page.options.title || "Untitled" %></title>
</head>
<body>

  <div class="container <%= page.options.bodyclasses && page.options.bodyclasses.join(" ") %>">
  <p id="logo-link" style="display: none;"><a href="/baltimore"><img src="/baltimore/assets/images/bmorenodeschool-white.png" alt="baltimore node school"></a></p>
  <%= page.content %>
  </div>

<% if (page.options.jsfoot) { %>
  <% _.each(page.options.jsfoot, function (file) { %>
  <script src="/baltimore/assets/<%= file %>" type="text/javascript"></script>
  <% }); %>
<% } %>

</body>
</html>
